{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
<body class="content">
    {% block content %}
    {% if request.user.is_authenticated %}
    <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Bienvenido | Mtro. {{request.user.username}}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a href="{% url 'add_student' %}" class="btn btn-sm btn-dark">Agregar estudiante</a>
                </div>
                <div class="btn-group me-2">
                    <a href="{% url 'create_course' %}" class="btn btn-sm btn-success">Agregar curso</a>
                </div>
                <div class="btn-group me-2">
                    <a href="{% url 'logout' %}" class="btn btn-sm btn-danger">Cerrar sesión</a>
                </div>
        </div>
    </main>
    <div class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
        <h4>Lista de Cursos <span class="badge bg-warning">New</span></h4>
    </div>
    {% if courses %}
    <div class="row  ms-sm-auto col-lg-12 px-md-4">
        {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ course.title }}</h4>
                <p class="card-text">{{ course.description }}</p>
                {% if course.title == "PowerPoint" %}
                    <a href="{% url 'grupos_pp' %}" class="btn btn-primary">Ver Grupos</a>
                {% else %}
                    <a href="" class="btn btn-primary">Ver Grupos</a>
                {% endif %}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No tienes cursos aún crea uno ahora!. <a href="{% url 'create_course' %}" class="btn btn-success">Create a Course</a></p>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
    {% endblock %}
</body>