{% extends 'base.html' %}
{% block content %}
<header class="text-center py-4">
    <h1>🏫 Sistema de Gestión Escolar 📚</h1>
</header>

<div class="container my-4">
    <div class="alert alert-info">
        <h3>¡Bienvenido al Sistema de Gestión Escolar! 🏫</h3>
        <br>
        <p>Este sistema de gestión ha sido diseñado pensando en mejorar tu experiencia y eficiencia en la administración de nuestra escuela. Descubre cómo puede facilitar tu labor como administrador, maestro o estudiante:</p>
        <br>
        <ul>
            <li>📖 <strong>Administra Cursos:</strong> Crea, edita y organiza cursos de manera intuitiva. Agrega detalles, fechas y materiales para que todos estén informados.</li>
            <li>👩‍🎓 <strong>Supervisa Estudiantes:</strong> Mantén un registro detallado de los estudiantes, incluyendo datos personales, asistencias y desempeño académico.</li>
            <li>📊 <strong>Evalúa con Rúbricas:</strong> Realiza evaluaciones detalladas utilizando rúbricas personalizadas. Añade criterios y calificaciones de manera eficiente.</li>
        </ul>
        <br>
        <p>Este sistema no solo te ayudará a optimizar la gestión escolar, sino que también ofrecerá a los estudiantes y maestros una plataforma interactiva para un aprendizaje más efectivo.</p>
    </div>
</div>

<footer class="bg-dark text-white text-center py-3">
    <p>© 2023 </p>
</footer>
{% endblock %}
